.exam-result .alert.alert-info {
    width: 100vw;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #eaf8f0;
    border-color:#00753F;
    color: #00753F;
}

.exam-result .card {
    width: 100vw;
}

.exam-result .card-header {
    background-color: #00753F;
    color: white;
}

.table th {
    color:#00753F;
}