.exam-reminders .tamaraw-text {
    color: #00753F;
    font-weight: 600;
}

.exam-reminders h2 {
    font-size: 2.6em;
}

.exam-reminders .admission-number {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.exam-reminders .admission-number p {
    font-size: 1em;
}

.exam-reminders .admission-number span {
    font-size: 1.6em;
}

.exam-reminders .reminder p {
    font-weight: 600;
}

.exam-reminders .question-header p {
    font-weight: 600;
}

.exam-reminders .question span {
    font-weight: 600;
}