/* With Reports */
.dashboard  {
  display: block;
  background-color: rgb(8, 8, 68);
  margin: -20px -200px 20px -200px;
}

.dashboard .content {
  padding: 20px 200px;
}

.dashboard .icon-box {
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Only title */
.dashboard .content h2 {
    padding-top: 1%;
}

/* Admission Side */
.admission-dashboard table tbody tr {
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  cursor: pointer;
}

.admission-dashboard table tbody td {
  padding: 1rem 1.25rem;
}
