#infoModal label {
    font-weight: 500;
}

/* Optional: Improve vertical spacing in modal */
.spaced-table td,
.spaced-table th {
  padding: 6px 12px !important;
  vertical-align: top;
}

/* Radio Button */
#infoModal input[type="radio"] {
    cursor: pointer;
    margin-right: 0.5rem;
}

#infoModal input[type="radio"]:checked {
    border-color: #198754; 
    background-color: #198754;
}

#infoModal input[type="radio"]::after {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    display: none;
}

#infoModal input[type="radio"]:checked::after {
    display: block;
}

.table-wrapper {
  position: relative;
  overflow: visible;
}

/* Removed Spin Buttot in Number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dashboard-card {
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.dashboard-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6c757d;
  margin-bottom: 0.25rem;
}

.dashboard-value {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0;
}


